@inject NavigationManager Navigation
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable

<h3>Connected Machine Information</h3>

<ul>
  @foreach (var machine in _machines)
  {
    <li>@machine</li>
  }
</ul>

@code {
  
  private HubConnection? _hubConnection;
  private List<string> _machines = [];

  protected override async Task OnInitializedAsync()
  {
    _hubConnection = new HubConnectionBuilder()
      .WithUrl(Navigation.ToAbsoluteUri("/machinehub"))
      .Build();

    // Handle incoming messages from the SignalR hub
    _hubConnection.On<string>("ReceiveMachineInfo", (machineName) =>
    {
      if (!_machines.Contains(machineName))
      {
        _machines.Add(machineName);
        InvokeAsync(StateHasChanged);
      }
    });

    await _hubConnection.StartAsync();
  }

  public async ValueTask DisposeAsync()
  {
    if (_hubConnection is not null)
    {
      await _hubConnection.DisposeAsync();
    }
  }
  
}